<h3>Detalles de la Persona</h3>
<div>
    <div>
        <label for="">
            <b>ID : </b>
            {{empleado.id}}
        </label>
    </div>
    <div>
        <label for="">
            <b>Nombre : </b>
            {{empleado.nombre}}
        </label>
    </div>
    <div>
        <label for="">
            <b>Apellido : </b>
            {{empleado.apellido}}
        </label>
    </div>
    <div>
        <label for="">
            <b>Descripcion : </b>
            {{empleado.email}}
        </label>
    </div>
</div>
