
<h2>Lista de personas</h2>

<table class="table table-stripet">
    <thead class="table-dark">
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Descripcion</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let empleado of empleados">
            <td>{{empleado.nombre}}</td>
            <td>{{empleado.apellido}}</td>
            <td>{{empleado.email}}</td>
            <td>
                <button (click)="actualizarEmpleado(empleado.id)" class="btn btn-primary" >Edit</button>
                <button (click)="eliminarEmpleado(empleado.id)" class="btn btn-danger" style="margin-left: 10px;">Delete</button>
                <button (click)="verDetallesDelEmpleado(empleado.id)" class="btn btn-secondary" style="margin-left: 10px;">Detalles</button>
            </td>
        </tr>
    </tbody>
</table>
